/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: Roboto;
}
.contact-image {
  height: 250px;
  width: 250px;
}
.contact-heading {
  color: #551e53;
}
